/* Add fonts */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&family=Roboto:ital@1&display=swap');

/* All Class using same dataset */

:root {
    /* Define Variables */
    --accent: #efd967;
    /* check color code from figma --> login*/
    --accentHover: #f5faaf;
    /* mouse Hover --> light */
    --dark60: #rgba(68, 90, 139, 0.6);
    /*0.6 = 60% */
    --light: #FFFFFF;
    --transition: all 0.3s ease 0s/* Define delay time */
}


/* All Section */

* {
    /* Clear margin and padding */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    /* Fixed Height  */
    overflow: auto;
    /* Using Scroll */
}

body {
    background: linear-gradient( var(--dark60), var(--dark60));
    background-image: url("/images/background.jpeg");
    background-color: no-repeat;
    background-position: center;
    background-size: cover;
    /* Fixed Screen Scale */
}

a,
button,
p {
    font-family: "Lato", sans-serif;
    color: var(--light);
}

a,
button,
.logo {
    cursor: pointer;
    /* Hand Cursor */
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header {
    grid-column: 2/span 6;
    /* header start 2nd col and other last col */
}

nav {
    display: flex;
    align-items: center;
    height: 150px;
}


/* Class */

.links {
    margin-left: auto;
}

.links a,
.links button {
    font-size: 1.5rem;
    font-weight: 400;
    transition: var(--transition);
    /* action */
}

.links a {
    margin-right: 20px;
}

.links a:hover {
    color: var(--accentHover);
    /* Cursor Hover --> Chang Color */
}

.button-med {
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
}

.button-med:hover {
    color: var(--accentHover);
}

.info {
    grid-column: 3/span 4;
    margin-top: 23%;
    text-align: center;
}

.content-font1 {
    font-family: "Lato", sans-serif;
    color: var(--light);
    font-size: 3.5rem;
}

.content-font2 {
    font-family: "Lato", sans-serif;
    color: var(--light);
    font-size: 1.3rem;
}

.icons {
    margin-top: 15px;
    display: flex;
}